*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#FFFFFF;
  --bg-button:#E1E1E6;
  --text-color:#323238;


  --font: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  font-family: var(--font);
  background-color: var(--bg-color);
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 1.6rem;
}

button{
cursor: pointer;
}

button svg path{
fill: var(--text-color);
}

main{
  display: flex;
  gap:19.2rem ;
}


#Timer_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  display: flex;
  font-size: clamp(4rem,4rem + 10vw,12.6rem);
  font-weight: 500;
  color: var(--text-color);
}

.controls{
  display: flex;
  gap: 4rem;
}

.control{  
  background:transparent;
  border:none;
}

.control  svg{
width: clamp(3.2rem, 2rem + 2vw,4.8rem)
}

#buttons_wrapper{
display: grid;
grid-template-areas: "A B"
"C D";
grid-gap: 2rem;
}

.card{
  /* clamp(9.2rem, 9.2rem + 2vw,13.8rem) */
width:13.8rem ;
/* height: clamp(9.2rem,12rem + 2vw,15.2rem); */
height: 15.2rem;
border-radius: 2.4rem;
border: none;
background-color: var(--bg-button);
transition: background-color 1s ;
}

.active svg path{
  fill: var(--bg-color);
  transition  : background-color 1s ;
}

.card svg{
  width: clamp(1.2rem, 1rem + 5vw,4.8rem)
}

.forest{
grid-area: A;
}
.rain{
grid-area: B;
}

.coffeshop{
grid-area: C;
}

.fireplace{
grid-area: D;
}

@media (max-width: 700px){
  main{
    flex-direction: column;
    gap:2rem;
  }
}